<!-- variable definitions, change as necessary -->

<UMASK>
0022
</UMASK>

<DBFILEPERMS>
0600
</DBFILEPERMS>

<FILEPERMS>
0644
</FILEPERMS>

<SPAMMODE>

<NODOC>

<timezones>
<!-- These numbers are negated because mhonarc SUBTRACTS offsets! -->
NST: 3.5
UT: 0
BST: -1
MET: -1
EET: -2
JST: -9
GMT-12: 12
GMT-11: 11
GMT-10: 10
GMT-9: 9
GMT-8: 8
GMT-7: 7
GMT-6: 6
GMT-5: 5
GMT-4: 4
GMT-3: 3
GMT-2: 2
GMT-1: 1
GMT+1: -1
GMT+2: -2
GMT+3: -3
GMT+4: -4
GMT+5: -5
GMT+6: -6
GMT+7: -7
GMT+8: -8
GMT+9: -9
GMT+10: -10
GMT+11: -11
GMT+12: -12
GMT+13: -13
PST8PDT: +8
</timezones>


<!-- generate maillist.html and threads.html -->
<idxfname>
maillist.html
</idxfname>

<tidxfname>
threads.html
</tidxfname>

<!-- date index customization -->
<IdxPgBegin>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
	<title>$IDXTITLE$</title>
	<style type="text/css">
	hr { color: #929292; height: 2px; }
	</style>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>

<body bgcolor="#ffffff" text="#000000" link="#777777" vlink="#aaaaaa">

<table cellspacing="0" cellpadding="4" border="0" width="100%" bgcolor="#929292">
<tr><td><font size="+2">$IDXTITLE$</font></td></tr>
</table>
</IdxPgBegin>

<IdxPgEnd>
<br/>
<table cellspacing="0" cellpadding="4" border="0" width="100%" bgcolor="#929292">
<tr>
<td align="left">Mail converted by <a href="http://www.mhonarc.org/" style="font-size: small; color: #000000;">MHonArc</a> $VERSION$</td>
<td align="right"><a href="http://listengine.tuxfamily.org/" style="font-size: small; color: #000000;">http://listengine.tuxfamily.org/</a></td>
</tr>
</table>
</body>
</html>
</IdxPgEnd>

<title>
$MAIN-TITLE$
</title>

<msglocaldatefmt>
%H:%M, %a %b %d
</msglocaldatefmt>

<gmtdatefmt>
%a %d %B at %H:%M GMT
</gmtdatefmt>

<listbegin>
<p>[ <a href="$TIDXFNAME$">Thread Index</a>
<!-- | <a href="../">More $MAIN-TITLE$ Archives</A> -->
] </p>
<p>$NUMOFMSG$ message(s), the most recent arriving on $GMTDATE$.</p>
<hr/>
</listbegin>

<daybegin>
$MSGLOCALDATE(CUR;%A %B %d)$
<ul>
</daybegin>

<dayend>
</ul>
</dayend>

<listend>

</listend>

<litemplate>
<li><strong>$SUBJECT$</strong> <em>$FROMNAME$</em></li>
</litemplate>

<!-- thread index customization -->
<TIdxPgBegin>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
	<title>$TIDXTITLE$</title>
	<style type="text/css">
	hr { color: #929292; height: 2px; }
	</style>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>

<body bgcolor="#ffffff" text="#000000" link="#777777" vlink="#aaaaaa">

<table cellspacing="0" cellpadding="4" border="0" width="100%" bgcolor="#929292">
<tr><td><font size="+2">$TIDXTITLE$</font></td></tr>
</table>
</TIdxPgBegin>

<TIdxPgEnd>
<br/>
<table cellspacing="0" cellpadding="4" border="0" width="100%" bgcolor="#929292">
<tr>
<td align="left">Mail converted by <a href="http://www.mhonarc.org/" style="font-size: small; color: #000000;">MHonArc</a> $VERSION$</td>
<td align="right"><a href="http://listengine.tuxfamily.org/" style="font-size: small; color: #000000;">http://listengine.tuxfamily.org/</a></td>
</tr>
</table>
</body>
</html>
</TIdxPgEnd>

<ttitle>
$MAIN-TITLE$
</ttitle>

<tlevels>
9
</tlevels>

<thead>
<p>[ <a href="$IDXFNAME$">Date Index</a>
<!-- | <a href="../">More $MAIN-TITLE$ Archives</a> -->
] </p>
<p>$NUMOFMSG$ message(s), the most recent arriving on $GMTDATE$.</p>
<hr/>
<p>
<ul>
</thead>

<tfoot>
</ul>
<p>
</tfoot>

<ttopbegin>
<li><a $A_NAME$><strong>$SUBJECTNA$</strong></a>
<ul>
<li><a $A_HREF$>$FROMNAME$</a> <em>$MSGLOCALDATE$</em>
</ttopbegin>

<tsingletxt>
<li><a $A_NAME$><strong>$SUBJECTNA$</strong></a>
<ul>
<li><a $A_HREF$>$FROMNAME$</a> <em>$MSGLOCALDATE$</em></li>
</ul>
<br/>
</li>
</tsingletxt>

<tlitxt>
<li><a $A_HREF$>$FROMNAME$</a> <em>$MSGLOCALDATE$</em>
</tlitxt>

<tliend>
</li>
</tliend>

<ttopend>
<br/>
</li></ul>
</ttopend>

<!-- if we used the Subject line to determine if this is a followup ... -->

<tsubjectbeg>
<!-- Possible follow-ups --><li><em>Possible follow-up(s)</em></li>
</tsubjectbeg>

<!-- message customization -->
<excs>
resent-.*
references
in-reply-to
mail-followup-to
importance
priority
delivered-to
list-.*
sender
envelope-to
user-agent
reply-to
</excs>

<MsgPgBegin>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
	<title>$SUBJECTNA:72$</title>
	<link rev="made" href="mailto:$FROMADDR$">
	<link rel="start" href="../">
	<link rel="contents" href="$TIDXFNAME$#$MSGNUM$">
	<link rel="index" href="$IDXFNAME$#$MSGNUM$">
	<link rel="prev" href="$MSG(TPREV)$">
	<link rel="next" href="$MSG(TNEXT)$">
	<style type="text/css">
	hr { color: #929292; height: 2px; }
	</style>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>

<body bgcolor="#ffffff" text="#000000" link="#777777" vlink="#aaaaaa">
</MsgPgBegin>

<MsgPgEnd>
<br/>
<table cellspacing="0" cellpadding="4" border="0" width="100%" bgcolor="#929292">
<tr>
<td align="left">Mail converted by <a href="http://www.mhonarc.org/" style="font-size: small; color: #000000;">MHonArc</a> $VERSION$</td>
<td align="right"><a href="http://listengine.tuxfamily.org/" style="font-size: small; color: #000000;">http://listengine.tuxfamily.org/</a></td>
</tr>
</table>
</body>
</html>
</MsgPgEnd>

<msghead>

</msghead>

<toplinks>

</toplinks>

<SubjectHeader>
<table cellspacing="0" cellpadding="4" border="0" width="100%" bgcolor="#929292">
<tr><td><font size="+2">$SUBJECTNA$</font></td></tr>
</table>

<p>[ <a href="$TIDXFNAME$">Thread Index</a> | 
<a href="$IDXFNAME$">Date Index</a>
<!-- | <a href="../">More $MAIN-TITLE$ Archives</a> -->
] </p>
</SubjectHeader>

<HeadBodySep>
<hr/>
</HeadBodySep>

<BotLinks>
<ul>
<li><b>Messages sorted by:</b> [ <a href="$IDXFNAME$#$MSGNUM$">date</A> | <a href="$TIDXFNAME$#$MSGNUM$">thread</A> ]</li>
$LINK(PREV)$$LINK(NEXT)$
$LINK(TPREV)$$LINK(TNEXT)$
</ul>
</BotLinks>
